/**
 * Header definition
 */
@media (max-width: $screen-xs-max) {
  #site-header {
    margin-bottom:0px;
    border: 0px;
  }
}

#site-header { height: $navbar-height }

#header-menu {
  @media (max-width: $screen-xs-max) {
    position: static;
    margin-bottom: 0px;
  }
  @include gradient-vertical-three-colors($menu-background-color, lighten($menu-background-color, 5%), 50%, $menu-background-color);
  border: 0px;
  min-height: $navbar-height;
  .navbar-header {
    padding-right: 10px;
    height: $navbar-height;
  }

  a {
    line-height: $navbar-height;
    padding: 0 15px;
    color: white;
  }
  a:hover { color: $smartview-orange; }

  .navbar-toggle {
    border: none;
    margin-top: 20px;
  }

  #introduction-menu {
    padding-left: 0px;
    @media (max-width: $screen-sm-max) {
      padding-left: 10px;
    }
  }
  li.active {
    a {
      background-color: $smartview-orange;
      color: white;
    }
    a:hover {
      background-color: darken($smartview-orange, 15%);
    }
  }

  #login-menu {
    @extend .hidden-sm;
    @extend .hidden-xs;
    float:right;
    margin-top: 20px;
    a#login-button {
      @extend .btn;
      @extend .btn-default;
      // @include button-variant(white, $smartview-orange, $background-start);
      background-color: #353434;
      color: $smartview-orange;
      border: 1px solid #707070;
      min-width: 100px;
      text-transform: uppercase;

      &:active, &.active, &:hover {
        color: $navbar-inverse-link-active-color;
        background-color: $smartview-orange;
        border: 1px solid $navbar-inverse-toggle-border-color;
        border-radius: $border-radius-base;
      }
    }
  }

  #signup-free-menu {
    @media (min-width: $screen-md-max) and (max-width: $screen-md-max) {
      padding-left: 20px;
    }
    a {
      color: #dda625;
      &:hover {
        font-weight: bold;
        text-transform: uppercase;
        background: $background-start;
      }
    }
    @include text-emphasis-variant('ii', #dda625);
  }

  @media (max-width: $screen-md-min) {
    ul li {
      height: $navbar-height / 2;
      a {
        height: $navbar-height / 2;
        line-height: $navbar-height / 2;
      }
    }
    .navbar-header { float: none; }
    .navbar-left, .navbar-right { float: none !important; }
    .navbar-toggle { display: block; }
    .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
    }
    .navbar-collapse.collapse { display: none!important; }
    .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
    }
    .navbar-nav>li { float: none; }
    .navbar-nav>li>a {
      padding-bottom: 10px;
    }
    .collapse.in { display:block !important; }
  }

  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    .navbar-inner .container {
      width: auto;

      .navbar-header, .navbar-collapse {
        margin-left: -$navbar-padding-horizontal;
        margin-right: -$navbar-padding-horizontal;
      }
    }
  }
}

a.navbar-brand {
  position: relative;
  padding: 5px 30px 5px 10px;
  .beta {
      font-size: 0.70em;
      font-style: italic;
      position: absolute;
      left: 144px;
      bottom: -14px;
      font-weight: bold;
      letter-spacing: 1px;
      top: 15px;
    }
}

img#logo-smartview {
  height: 40px;
  display: inline;
}

#appstore-logo {
  position: relative;
  text-align: center;
  float: right;
  margin-left: 10px;

  a {
    display:inline-block;
    overflow:hidden;
    background:url("https://linkmaker.itunes.apple.com/htmlResources/assets/en_us/images/web/linkmaker/badge_appstore-lrg.png") no-repeat;
    width:115px;
    height:34px;
    background-size: 115px 34px;

    @media only screen {
      background-image: url("https://linkmaker.itunes.apple.com/htmlResources/assets/en_us/images/web/linkmaker/badge_appstore-lrg.svg");
    }
  }
}

#modal-login {
  color: $smartview-gray;

  .modal-content {
    border: 0px;

    @include box-shadow(none)
  }

  .modal-body {
    background: $login-background;
    border-radius: 6px;
    padding: 20px;
  }

  form {
    padding-left: 10px;
    padding-right: 10px;
  }

  .submit-form {
    padding-top: 10px;

    button {
      @extend .btn;
      @extend .btn-default;
      @include button-variant(white, $smartview-orange, darken($smartview-orange, 2%));
    }
  }

  a { color: #428BCA }

  .omniauth {
    padding-top: 3px;

    a {
      text-align: center;
      padding: 5px;
      border-radius: 10px;
      display: inline-block;
      color: white;
      text-decoration: none;
      margin-right: 10px;
      min-width: 50px;
    }

    i {
      font-size: 1.2em;
      padding-left: 0px;
      margin-right: 0px;
    }

    .google {
      background: $google-botton-color;
    }

    .facebook {
      background: $facebook-color;
    }

    .omniauth-icon {
      width: 40px;
      height: 40px;
    }

  }
}

.tooltipster-base {
  z-index: 2000;
}

.ui-pnotify-container {
  padding: 0.8em;
  margin: 0;
}


.alert-error {
  @extend .alert-danger;
}

.ui-pnotify-icon .fa { line-height: 20px; }

.login-tooltip {
  background: $login-background;

  .tooltipster-arrow span { border-color: $login-background; }
}
