/**
 * Page Content definition
 */
.smartview-background {
  position: fixed;
  top: $navbar-height;
  right: 0;
  opacity: 0.15;
  z-index: 10;
}

.page-content {
  background: $content-background;
  color: #404855;
  font-size: 14px;
  font-family: HelveticaNeue-Light, 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  padding: 0px;
  min-height: 100%;

  >.wrapper {
    background: white;
    padding-top: $page-padding;
    padding-bottom: $page-padding;

    .inner-wrapper {
      background: transparent;
      position: relative;
      z-index: 100;
    }
  }

  h1 {
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 10px;
  }

  h2 { font-size: 24px; }

  a {
    color: #000000;
    text-decoration: none;
    &:hover {
      color: $smartview-orange;
    }
  }

  .post {
    width: 100%;
    
    h3 {
      margin-top: 40px;
    }
    
  }

  .fa {
    margin: 0 5px;
  }
  
  .fa-stack {
    margin: 0 5px;
    .fa { margin: 0;}
  }
  
  .post-excerpt {
    border-top: 1px solid $smartview-lightgray;
    padding: $article-padding 0;
    
    footer {
      margin-top: 20px;
      a {
        padding: 10px;
        color: $smartview-orange;
        border-radius: 5px;
        background: $smartview-lightgray;
      }
    }
    
    
  }

  .post-list li {
    margin-bottom: 0px;

    &:first-child article {
      border-top: 0px;
      padding-top: 0px;
    }
  }

  .post-link { font-size: inherit; }

  .col-md-9 {
    border-right: 1px solid $smartview-lightgray;

    @media(max-width: $screen-md-min) {
      border-right: 0px;
    }
  }

  // Use flex layout for desktop or higher
  @media(min-width: $screen-md-min) {
    @include flexbox;

    > .wrapper {
      @include flexbox;
      width: $content-width - $spacing-unit;
      padding-left: $spacing-unit / 2;
      padding-right: $spacing-unit / 2;

      .inner-wrapper {
        @include flexbox;
        width: 100%;

        > .row {
          @include flexbox;
          width: 100%;
          margin: 0px;

          .col-md-9 { @include flex(2); }
        }
      }
    }
  }
}

aside.sidebar {
  z-index: 200;

  .list-group-item.active {
    background-color: $smartview-orange;
    border-color: $smartview-orange;

    > .badge { color: $smartview-orange; }
  }
}
