$links-color: black;

// HEADER
$screen-xxs-min: 640px;
$navbar-height: 70px;
$smartview-orange: #ee3600;
$smartview-smartest-caption: #feb902;
$smartview-lightgray: rgba(89,70,63, 0.25);
$background-start: #860d00;
$background-end: #f23900;
$menu-background-color: #393939;
$smartview-gray: #404855;

// Page content variables
$content-background: #efefef;
$page-padding: 15px;
$site-backgroud: white;
$article-padding: 3em;
