<header id="site-header" class="navbar-fixed-top">
  <div class="navbar navbar-default navbar-fixed-top navbar-inverse" id="header-menu">
    <div class="navbar-inner">
      <div class="container">
        <div class="navbar-header">
          <button class="navbar-toggle" data-target="#navbar-collapse" data-toggle="collapse" type="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" data-target="#introduction-row" href="{{site.base_url}}/" id="introduction-menu">
            <img alt="SmartView" id="logo-smartview" src="/images/logo_smartview.png">
            <span class="beta">beta</span>
          </a>
        </div>
        <div class="navbar-collapse collapse" id="navbar-collapse" style="height: 70px;">
          <ul class="nav navbar-nav">
            <li><a href="{{site.smartview.landing_site}}/#features">Features</a></li>
            <li><a href="{{site.smartview.landing_site}}/#extensibility">Extensibility</a></li>
            <li><a href="{{site.smartview.landing_site}}/#pricing">Pricing</a></li>
            <li><a href="{{site.smartview.landing_site}}/#support">Support</a></li>
            <li><a href="{{site.smartview.landing_site}}/#contact">Contact Us</a></li>
            <li class="active"><a href="{{site.base_url}}/">Blog</a></li>
            <li id="signup-free-menu"><a href="{{site.smartview.app_site}}/users/sign_up">Sign Up <strong>FREE</strong></a></li>
          </ul>
          <div id="login-menu">
            <a id="login-button" href="#">Log In</a>
            <div id="appstore-logo" class="visible-lg">
              <a href="https://itunes.apple.com/ca/app/smartview/id809109903?mt=8&  amp;uo=4" target="itunes_store"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Login form -->
<div class="hide">
  <div class="modal-sm" id="modal-login">
    <div class="modal-content">
      <div class="modal-body">
        <form class="form-horizontal" id="login_form">
          <div class="form-group">
            <label for="input-email">Email</label>
            <input class="email form-control required" name="email" type="email" autocomplete="off" />
          </div>
          <div class="form-group">
            <label>Password</label>
            <input class="password form-control required" name="password" type="password" autocomplete="off" />
          </div>
          <div class="row">
            <div class="col-md-5">
              <div class="form-group submit-form">
                <button>Log in</button>
              </div>
            </div>
            <div class="col-md-7">
              <div class="row">
                <div class="col-md-12">Or sign in with:</div>
              </div>
              <div class="row">
                <div class="omniauth col-md-12">
                  <a class="google" href="{{site.smartview.app_site}}/users/auth/google_oauth2"><i class="fa fa-google-plus"></i></a>
                  <a class="facebook" href="{{site.smartview.app_site}}/users/auth/facebook"><i class="fa fa-facebook"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <a href="{{site.smartview.app_site}}/users/password/new">Forgot password?</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
