<header id="#site-header" class="navbar-fixed-top">
  <div class="navbar navbar-default navbar-fixed-top" id="header-menu">
    <div class="navbar-inner">
      <div class="container">
        <div class="navbar-header">
          <button class="navbar-toggle" data-target="#navbar-collapse" data-toggle="collapse" type="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" data-target="#introduction-row" href="{{site.base_url}}/" id="introduction-menu">
            <img alt="SmartView" id="logo-smartview" src="/images/logo_smartview.png">
            <span class="beta">beta</span>
          </a>
        </div>
        <div class="navbar-collapse collapse" id="navbar-collapse" style="height: 70px;">
          <ul class="nav navbar-nav">
            <li class="active"><a href="{{site.base_url}}/">Blog</a></li>
            <li><a href="https://smartviewapp.com#features">Features</a></li>
            <li><a href="https://smartviewapp.com#metrics">Metrics</a></li>
            <li><a href="https://smartviewapp.com#pricing">Pricing</a></li>
            <li><a href="https://smartviewapp.com#support">Support</a></li>
            <li><a href="https://smartviewapp.com#contact">Contact Us</a></li>
            <li id="signup-free-menu"><a href="https://app.smartviewapp.com/users/sign_up">Sign Up <strong>FREE</strong></a></li>
          </ul>
          <div id="login-menu"><a href="https://app.smartviewapp.com">Log In</a></div>
        </div>
      </div>
    </div>
  </div>
</header>
