$links-color: black;

// HEADER
$screen-xxs-min: 640px;
$navbar-height: 70px;
$smartview-orange: #ee3600;
$smartview-smartest-caption: #feb902;
$smartview-lightgray: rgba(89,70,63, 0.25);
$background-start: #860d00;
$background-end: #f23900;
$menu-background-color: #393939;
$smartview-gray: #404855;

// Page content variables
$content-background: #efefef;
$page-padding: 15px;
$site-backgroud: white;
$article-padding: 3em;

/* Override General Settings */

a {
  color: $links-color;

  &:visited { color: $links-color; }

  &:hover {
    color: $smartview-orange;
    text-decoration: none;
  }
}

/**
 * Header definition
 */

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
  padding-top: $navbar-height;

  i.fa {
    margin-right: 10px;
  }
}

@media (max-width: $screen-xs-max) {
  #site-header {
    margin-bottom:0px;
    border: 0px;
  }
}

#header-menu {
  @media (max-width: $screen-xs-max) {
    position: static;
    margin-bottom: 0px;
    ul li {
      height: $navbar-height / 2;
      a {
        height: $navbar-height / 2;
        line-height: $navbar-height / 2;
      }
    }
  }
  @include gradient-vertical-three-colors($menu-background-color, lighten($menu-background-color, 5%), 50%, $menu-background-color);
  border: 0px;
  min-height: $navbar-height;
  .navbar-header {
    padding-right: 10px;
    height: $navbar-height;
  }

  a {
    line-height: $navbar-height;
    padding: 0 15px;
    color: white;
  }
  a:hover { color: $smartview-orange; }

  .navbar-toggle {
    background: white;
  }

  #introduction-menu {
    padding-left: 0px;
    @media (max-width: $screen-xs-max) {
      padding-left: 10px;
    }
  }
  li.active {
    a {
      background-color: $smartview-orange;
      color: white;
    }
    a:hover {
      background-color: darken($smartview-orange, 15%);
    }
  }

  #login-menu {
    @extend .hidden-sm;
    @extend .hidden-xs;
    float:right;
    margin-top: 20px;
    a {
      @extend .btn;
      @extend .btn-default;
      @include button-variant(white, $smartview-orange, $background-start);
      min-width: 100px;
      text-transform: uppercase;
    }
  }

  #signup-free-menu {
    @media (min-width: $screen-md-max) and (max-width: $screen-md-max) {
      padding-left: 20px;
    }
    a {
      color: #dda625;
      &:hover {
        font-weight: bold;
        text-transform: uppercase;
        background: $background-start;
      }
    }
    @include text-emphasis-variant('ii', #dda625);
  }
}

a.navbar-brand {
  position: relative;
  padding: 5px 30px 5px 10px;
  .beta {
      font-size: 0.70em;
      font-style: italic;
      position: absolute;
      left: 144px;
      bottom: -14px;
      font-weight: bold;
      letter-spacing: 1px;
      top: 15px;
    }
}

img#logo-smartview {
  height: 40px;
  display: inline;
}

/**
 * Page Content definition
 */
html, body { height: 100%; }

.smartview-background {
  position: fixed;
  top: $navbar-height;
  right: 0;
  opacity: 0.15;
  z-index: 10;
}

.page-content {
  background: $content-background;
  color: #404855;
  font-size: 14px;
  font-family: HelveticaNeue-Light, 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  padding: 0px;
  min-height: 100%;

  >.wrapper {
    background: white;
    padding-top: $page-padding;
    padding-bottom: $page-padding;
    min-height: 100%;

    .inner-wrapper {
      background: transparent;
      position: relative;
      z-index: 100;
      min-height: 100%;

      > .row { min-height: 100%; }
    }
  }

  h1 {
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 10px;
  }

  h2 { font-size: 24px; }

  a {
    color: #000000;
    text-decoration: none;
    &:hover {
      color: $smartview-orange;
    }
  }

  .post-excerpt {
    border-top: 1px solid $smartview-lightgray;
    padding: $article-padding 0;
  }

  .post-list li {
    margin-bottom: 0px;

    &:first-child article {
      border-top: 0px;
      padding-top: 0px;
    }
  }

  .post-link { font-size: inherit; }

  .col-md-9 {
    border-right: 1px solid $smartview-lightgray;
    min-height: 100%;
  }
}

aside.sidebar {
  z-index: 200;

  .list-group-item.active {
    background-color: $smartview-orange;
    border-color: $smartview-orange;

    > .badge { color: $smartview-orange; }
  }
}

@media(max-width: $screen-md-min) {
  .page-content .col-md-9 { border-right: 0px; }
}

.category-index {
  h2.year {
    float: left;
    margin-top: 0px;
    font-weight: normal;
    display: inline-block;
    position: relative;

    @media(max-width: $screen-md-min) {
      display: none;
    }
  }

  article {
    margin-left: 7em;
    margin-bottom: 1.6em;

    border-bottom: 1px solid rgba(89,70,63, 0.25);

    &:last-child {
      border-bottom: 0px;
    }

    &:first-child {
      margin-top: 0px;
    }
  }
}
