$nav-bar-background-color: #404855;
$nav-height: 100px;
$nav-padding: 30px;
$smartview-orange: #ee3600;
$page-padding: 15px;
$site-backgroud: white;
$article-padding: 3em;


.navbar-fixed-top {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
  top: 0px;
}

.site-header {
  background-color: $nav-bar-background-color;
  border: none;
  font-size: 14px;

  a {
    text-decoration: none;
    line-height: $nav-height;
    color: #ffffff;
  }

  .site-nav {
    float: none;
    height: $nav-height;
  }

  .logo {
    float: left;
    a, a:hover, a:visited, a:link, a:active {text-decoration: none; }

    .logo-smartview {
      height: 60px;
    }

    .site-title {
      margin: 0;
      font-size: 24px;
      padding: 20px 20px 0 10px;
      line-height: 40px;
      text-shadow: 0px 2px 15px #222;
      letter-spacing: -1.5px;
      float: left;
      position: relative;
      color: #ffffff;

      &:hover {
        color: $smartview-orange;
      }
    }

    .beta {
      font-size: 0.55em;
      font-style: italic;
      position: absolute;
      right: 4px;
      bottom: -14px;
      font-weight: bold;
      letter-spacing: 1px;
    }
  }

  .pages {
    padding-top: 5px;

    ul {
      list-style: none;
    }

    .page-link {
      padding: 0 15px;
      color: #ffffff;

      &:hover {
        color: $smartview-orange;
      }
    }
  }
}

html, body { height: 100%; }
body { padding-top: $nav-height; }

.page-content {
  background: $site-backgroud;
  color: #404855;
  font-size: 14px;
  font-family: HelveticaNeue-Light, 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  padding: $page-padding 0px;

  h1 {
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 10px;
  }

  h2 {
    font-size: 24px;
  }

  a {
    color: #000000;
    text-decoration: none;
    &:hover {
      color: $smartview-orange;
    }
  }

  .post-excerpt {
    border-top: 1px solid rgba(89,70,63, 0.25);
    padding: $article-padding 0;
  }

  .post-list li {
    margin-bottom: 0px;

    &:first-child article {
      border-top: 0px;
      padding-top: 0px;
    }
  }

  .post-link {
    font-size: inherit;
  }
}
