$smartview-orange: #ee3600;
$links-color: black;
$nav-bar-background-color: #404855;

$nav-height: 100px;
$nav-logo-height: 60px;

$page-padding: 15px;
$site-backgroud: white;
$article-padding: 3em;

/* Override General Settings */

a {
  color: $links-color;

  &:visited {
    color: $links-color;
  }

  &:hover {
    color: $smartview-orange;
    text-decoration: none;
  }
}

.site-nav {
  line-height: inherit;
  float: none;
}

.site-nav .page-link {
  line-height: inherit;
}


/* Header definition */
.navbar-fixed-top {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
  top: 0px;
}

.site-header {
  min-height: $nav-height;
  border: 0px;
  background-color: $nav-bar-background-color;
  color: #ffffff;

  .site-nav a {
    line-height: $nav-height;
  }

  .logo {
    float: left;

    .logo-smartview {
      height: $nav-logo-height
    }

    .site-title {
      margin: 0;
      font-size: 24px;
      padding: 0 20px 0 0;
      text-shadow: 0px 2px 15px #222;
      letter-spacing: -1.5px;
      float: left;
      position: relative;
      color: #ffffff;
      line-height: $nav-height - 5px;

      &:hover {
        color: $smartview-orange;
      }
    }

    .beta {
      font-size: 0.55em;
      font-style: italic;
      position: absolute;
      right: 10px;
      bottom: -20px;
      font-weight: bold;
      letter-spacing: 1px;
    }
  }

  .pages {
    ul {
      display: block;
      list-style: none;
      margin-bottom: 0px;

      li {
        float: left;
        &.active {
          background-color: $smartview-orange;
          color: white;
          &:hover {
            background-color: darken($smartview-orange, 15%);
          }
        }
      }
    }

    .page-link {
      display: block;
      padding: 0 15px;
    }
  }

  .site-title, .site-nav .page-link {
    color: #ffffff;

    &:hover {
      color: $smartview-orange;
    }
  }
}

/* Page Content definition */
html, body { height: 100%; }
body { padding-top: $nav-height; }

.page-content {
  background: $site-backgroud;
  color: #404855;
  font-size: 14px;
  font-family: HelveticaNeue-Light, 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  padding: $page-padding 0px;

  h1 {
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 10px;
  }

  h2 {
    font-size: 24px;
  }

  a {
    color: #000000;
    text-decoration: none;
    &:hover {
      color: $smartview-orange;
    }
  }

  .post-excerpt {
    border-top: 1px solid rgba(89,70,63, 0.25);
    padding: $article-padding 0;
  }

  .post-list li {
    margin-bottom: 0px;

    &:first-child article {
      border-top: 0px;
      padding-top: 0px;
    }
  }

  .post-link {
    font-size: inherit;
  }
}

