<!DOCTYPE html>
<html>

  {% include head.html %}

  <body data-offset="70" data-spy="scroll" data-target="#header-menu">

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        <div class="inner-wrapper">
          <div class="row">
            <div class="col-md-9">
              {{ content }}
            </div>
            <aside class="sidebar col-md-3">
              {% include_array default_asides %}
            </aside>
          </div>
        </div>

        <img src="/images/sign-smartview.png" class="smartview-background" />
      </div>
    </div>

  </body>

</html>
