---
layout: default_post
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">
      <span class="glyphicon glyphicon-calendar"></span>
      <time datetime="{{ page.date | datetime | date_to_xmlschema }}" pubdate>{{ page.date | date: "<span class='month'>%b</span> <span class='day'>%d</span>, <span class='year'>%Y</span>"}}</time>
      - Posted by {{ post.author | default: site.author}}
    </p>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

</div>
